body {
  padding: 15px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  margin: 0 auto;
  font-size: 1.6rem;
}


* {
  box-sizing: border-box;
}

@media (min-width: 700px) {
  body {
    max-width: 110ch;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 1.5vw;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: 1.2vw;
  }
}

@media (min-width: 1900px) {
  body {
    font-size: 0.9vw;
  }
}

.intro {
  font-size: 120%;
}

.meta {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 85%;
  color: #999;
}

.meta a {
  color: #777;
  text-decoration: none;
  
}

hr {
  border: none;
  margin: 40px 0;
  border-top: 1px solid #ABABAB;
}

/* divs named #header #hero #intro #review #pros-and-cons, #images #*/

#hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
}

#hero img {
  width: 100%;
  display: block;
}

#hero picture {
  display: block;
  grid-column: 1 / span 12;
}

@media (min-width: 1000px) {
  body {
    margin: 50px auto;
    display: grid;
    grid-gap: 50px;

    grid-template-columns: 
      [full-start] minmax(2em, 1fr) 
      [main-start] repeat(12, 1fr) [main-end]
      minmax(2em, 1fr) [full-end];
    
    grid-template-rows: repeat(5, auto); 
  }
  
  body > * {
    grid-column: main;
  }
  
  #header h1 {
    margin: 0;
  }

  #hero {
    grid-column: full;
  }

  #intro p {
    margin: 0;
  }

  #review { 
    grid-column: 2 / 9;
    grid-row: 4 / 4;
  }
  
  #images {
    grid-column: 9 / 14;
    grid-row: 4 / 4;
  }

}

#footer p {
  opacity: 0.5;
}


h1, h2, h3 {
  line-height: 1.1;
  color: #000;
}

img {
  max-width: 100%;
}

figure {
  padding: 0;
  margin: 0;
}

figcaption {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


.images-grid figure {
  display: block;
  padding: 10px;
}

@media (max-width: 499px) {
  .images-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .images-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}

.box {
  background: #DDD;
  padding: 2rem;
  margin: 0 0 2rem;
}

 @media (min-width: 700px) {

    .box-holder {
      display: grid;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    .box {
        margin: 0;
    }

    .box:first-child {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }

    .box:nth-child(2) {
      grid-column: 2 / 2;
      grid-row: 1 / 1;
    }

    .box:nth-child(3) {
      grid-column: 1 / span 2;
      grid-row: 2 / 2;
    }

}