/* ==========================================================================
  Stylesheet for Canon EOS M5 review
   ========================================================================== */

/* Base - unclassed
   ========================================================================== */

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

figure {
  padding: 0;
  margin: 0;
}

@media (min-width: 700px) {
  body {
    max-width: 110ch;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 1.5vw;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: 1.2vw;
  }
}

@media (min-width: 1900px) {
  body {
    font-size: 0.9vw;
  }
}

body {
  font-family: "Untitled Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  color: #555A5D;
  background: #FFF;
  line-height: 1.5;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 15px;
}

@media (min-width: 1000px) {
  
  body {
    margin: 50px auto;
  }
  
  @supports (display: grid) {
     body {
       display: grid;
       grid-gap: 50px;
    
       grid-template-columns: 
         [full-start] minmax(2em, 1fr) 
         [main-start] repeat(12, 1fr) [main-end]
         minmax(2em, 1fr) [full-end];
     
       grid-template-rows: repeat(5, auto); 
     }
    
     body > * {
       grid-column: main;
     }
   }

}

h1, h2, h3 {
  line-height: 1.1;
}

h1, h2 {
  color: #292B2D;
  font-weight: 700;
}

h3 {
  color: #3C4956;
  font-weight: 500;
}

a {
  color: #0049CD;
}

a:hover {
  background: #DCF0FF;
}

ul, ol {
  margin-left: 2.4rem;
  padding-left: 0;
}

hr {
  border: none;
  margin: 40px 0;
  border-top: 1px solid #ABABAB;
}

/* Text styles
   ========================================================================== */

.intro {
  font-size: 120%;
}

.meta {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 85%;
  color: #5286B1;
}

.meta a {
  color: #346187;
  border-bottom: 1px solid rgba(52,97,135, 0.33);
  text-decoration: none;
}

.meta a:hover {
  border-bottom: 1px solid rgba(52,97,135, 1);
}

/* Grid elements 
   ========================================================================== */

#hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
}

#hero img {
  width: 100%;
  display: block;
}

#hero picture {
  display: block;
  grid-column: 1 / span 12;
}

@media (min-width: 1000px) {

  #header h1 {
    margin: 0;
  }

  #hero {
    grid-column: full;
  }

  #intro p {
    margin: 0;
  }
  
  #review { 
    grid-column: 2 / 9;
    grid-row: 4 / 4;
  }
  
  #images {
    grid-column: 9 / 14;
    grid-row: 4 / 4;
  }

}

#footer p {
  opacity: 0.5;
}

/* Images grid 
   ========================================================================== */

.images-grid figcaption {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.images-grid img {
  display: block;
  width: 100%;
}

/* Fallback code */
.images-grid img {
  margin: 0 0 10px;
}

@media (max-width: 999px) {
  .images-grid img {
    margin: 0;
  }
}

@media (max-width: 499px) {

  @supports (display: grid) {
    .images-grid {
      grid-gap: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

  }

}

@media (min-width: 500px) and (max-width: 999px) {

  @supports (display: grid) {
    .images-grid {
      grid-gap: 10px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

  }
}

/* Boxes 
   ========================================================================== */

.box {
  background: #DCF0FF;
  color: #303A42;
  padding: 1rem 2.1rem;
  margin: 0 0 2rem;
}

.box h1,
.box h2,
.box h3 {
  color: #4C687F;
}

 @media (min-width: 700px) {

     @supports (display: grid) {
      .box-holder {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
      }

      .box {
          margin: 0;
      }

      .box:first-child {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
      }

      .box:nth-child(2) {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
      }

      .box:nth-child(3) {
        grid-column: 1 / span 2;
        grid-row: 2 / 2;
      }
    }

}

/* Facts grid 
   ========================================================================== */

#the-facts {
  padding-top: 20px;
}

#the-facts h2 {
  padding: 0 0 1.2rem;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.facts-grid {
  display: grid;
  grid-template-rows: auto;
}

.facts-row {
  border-top: 1px solid #B0C9DC;
  padding: 10px;
}

.fact-header {
  font-weight: 500;
}

.data-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 90%;
  margin: 0.5rem 0;
}

.data-table td,
.data-table th {
  padding: 5px;
}

.data-table th {
  font-weight: 500;
  text-align: left;
  width: 30%;
}

.data-table tr:nth-child(even) {
  background: #E6F4FF;
}